/* Retirando algumas configurações padrões do CSS */
html {
    font-family: "Roboto", sans-serif;
    background-color: #fefefe;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
h1, h2, p, li {
    margin: 0;
    scroll-margin-top: 4rem;
    color: #404040;
}

h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

h2 {
    font-size: 1.25rem;
    margin-top: 1.75rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

ol > li {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Estilização do header e animação de hover na tag <a> */
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-color: #1e1f20;
    position: sticky;
    z-index: 10;
    top: 0;

    border-bottom: 0.2rem solid #bfc4c5;
    margin-bottom: 3.5rem;
}

.header > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #bfc4c5;

    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header > a:hover {
    background-color: #bfc4c5;
    color: #080808;
}

.header > a::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0.2rem;
    margin-top: 0.8rem;
    background-color: #080808;
    transition: all ease-out 400ms;
}

.header > a:hover::after {
    width: 100%;
}

/* lembre-se de line-height */
/* link, visited, focus, hover and active */